@model MVCCapstone.Models.ManageBookSearchModel

@if (Model.bookResults.Count() == 0)
{
 <h3>There are no results that matches that title</h3>
}
else
{
    <table class="table table-striped table-bordered">
        <tr>
            <th class="col-sm-2"></th>
            <th class="col-sm-1">Id</th>
            <th>Title</th>
            <th>Author</th>
            <th>Publisher</th>
        </tr>

        @foreach (MVCCapstone.Models.Book book in Model.bookResults)
         {
            <tr id ="@book.BookId">
                <td class="text-center">
                     @Ajax.ActionLink("E", "editPrompt", new { bookid = book.BookId }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "result" }, new { @class = "btn btn-default", onclick = "scrollToTop()" })
                     @Ajax.ActionLink("D", "deleteprompt", new { bookid = book.BookId }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "result" }, new { @class = "btn btn-default", onclick = "scrollToTop()" })
                </td>
                <td>@book.BookId</td>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Publisher</td>
            </tr>
         }

    </table>
}