@using PagedList


<table class="table table-striped table-condensed">
    <tr>
        <th class="col-sm-9"><small>Title</small></th>
        @if(ViewBag.Sort == "new")
        {
            <th class="col-sm-3"><small class="pull-right">Last Modified</small></th>
        }
        else
        {
            <th class="col-sm-3"><small class="pull-right">Rate</small></th>
        }
       
    </tr>
               
        @if(@ViewBag.ReviewList.Count > 0)
        {
            foreach (MVCCapstone.Models.ReviewModel review in @ViewBag.ReviewList)
            {
                <tr>
                    <td>@Html.ActionLink(review.reviewTitle, "id", new { controller = "review", id = review.reviewId}) by @review.author</td>
                    
                    @if(ViewBag.Sort == "new")
                    {
                        <td><small class="pull-right">@review.reviewLastModified.ToShortDateString()</small></td>
                    }
                    else
                    {
                        <td><small class="pull-right">@review.rateUp /  @review.rateTotal</small></td>
                    }

                </tr>
            }
        } else {
            <tr>
                <td colspan="2">There are no reviews available</td>
            </tr>
        }
</table>