@model MVCCapstone.Models.BookDisplayModel

@{
    ViewBag.Title = Model.Title;

    ViewBag.BookStateButton = "Hide Book";
    if (Model.State == "Hidden")
    {
        ViewBag.BookStateButton = "Show Book";
    }
}


<div class="col-sm-10 col-sm-offset-1">
    
    @if (User.IsInRole("admin"))
    {
    <div class="row">
        <div>
                <div class="pull-right">
                @Ajax.ActionLink( (string)@ViewBag.BookStateButton,
                    "changestate",
                    new { bookid = Model.BookId },
                    new AjaxOptions
                    { 
                        HttpMethod = "POST",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "State",
                        OnSuccess = "switchBookActionText"
                    },
                    new {@id="BookHideButton", @class="btn btn-primary" }
                )
         
                @Html.ActionLink("Edit",null, new {controller = "admin", action = "managebook", id = @Model.BookId}, new {style="min-width: 100px;", @class = "btn btn-primary"})
            </div>
            <div id="State">
                @if (Model.State == "Visible")
                {
                    <span class="message-success">Current State: @Model.State</span>
                }
                else
                {
                    <span class="message-error">Current State: @Model.State</span>
                }
            </div>
        </div>
    </div>
    }
   
    

    <div class="row">
        <div id="Bookmark">
            <span class="message-success">
            </span>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-sm-9">
            <div class="row">
             
                @if (Model.IsSeries)
                {
                    <div class="row">
                        <strong style="font-size:36px;" class="pull-left"> @Model.SeriesTitle.ToUpper() </strong>
                    </div>
                    <div class="row">
                        <strong style="font-size:20px;" class="pull-left"> @Model.Title.ToUpper() </strong>
                    </div>
                } 
                else 
                {
                <div class="row">
                    <strong style="font-size:36px;" class="pull-left"> @Model.Title.ToUpper() </strong>
                </div>      
                }
             
                <div class="row">
                    <div class="col-sm-3">
                        <strong>Author</strong>
                    </div>
                    <div class="col-sm-3">
                        <strong>Published</strong>
                    </div>
                    <div class="col-sm-6">
                        <strong>Genres</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <small> @Model.Author</small>
                    </div>
                    <div class="col-sm-3">
                        <small>@Model.Published</small>
                    </div>
                    <div class="col-sm-6">
                        <small>@Model.Genre</small>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                        <strong>Language</strong>
                    </div>
                    <div class="col-sm-3">
                        <strong>Publisher</strong>
                    </div>
                    <div class="col-sm-6">
                        <strong>ISBN</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <small> @Model.Language</small>
                    </div>
                    <div class="col-sm-3">
                        <small>@Model.Publisher</small>
                    </div>
                    <div class="col-sm-6">
                        <small>@Model.ISBN</small>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-12">
                        <b>Synopsis</b>
                    </div> 
                </div>
                <div class="row">
                    <div class="col-sm-12" style="word-wrap: break-word; white-space: pre-line"><small>@Model.Synopsis</small>
                    </div>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="row">
                    @if (Model.IsSeries == true)
                    {
                         <strong>@Model.SeriesTitle.ToUpper()</strong> @: Discussions
                    } 
                    else 
                    {
                         <strong>@Model.Title.ToUpper()</strong> @: Discussions
                    }
                  

                    @Html.RouteLink("See All Discussions", new { controller = "forum", action = "thread", forumid = Model.ForumId }, new { @class = "btn btn-primary pull-right" })
                </div>
               
                <div class="row">
                <table class="table table-striped table-condensed">
                    <tr>
                        <th class="col-sm-9"><small>Title</small></th>
                        <th class="col-sm-3"><small class="pull-right">Last Posted</small></th>
                    </tr>
                @if(Model.ThreadList.Count > 0)
                {
                    foreach (MVCCapstone.Models.ThreadModel thread in Model.ThreadList)
                    {
                        <tr>
                            <td>
                         
                                @Html.ActionLink(@thread.Title, null, new {controller= "forum", action = "viewthread", fview = true, threadid = @thread.ThreadId, page = 1})
                                <small>by @thread.LatestPoster</small>
                            </td>
                            <td><small class="pull-right">@thread.DateString</small></td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="2">There are no discussions for this book yet</td>
                    </tr>
                }
                </table>
            </div>
                

            </div>

            <br /> 
            <div class="row">
                <div class="row">
                    <strong>@Model.Title.ToUpper()</strong> Reviews
                    @Html.RouteLink("See All Reviews", new { controller = "review", action = "book", id = Model.BookId }, new { @class = "btn btn-primary pull-right" })
                </div>

                <div class="row">
                    <small>
                        @Ajax.ActionLink("Most Rated", null, new { controller="book", action="review", bookid = Model.BookId, sortby = "popular" }, new AjaxOptions() { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "reviews" }) |
                        @Ajax.ActionLink("Recommended", "review", new { bookid = Model.BookId, sortby = "recommended" }, new AjaxOptions() { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "reviews" }) |
                        @Ajax.ActionLink("Not Recommended", "review", new { bookid = Model.BookId, sortby = "notrecommended" }, new AjaxOptions() { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "reviews" }) |
                        @Ajax.ActionLink("Newest", "review", new { bookid = Model.BookId, sortby = "new" }, new AjaxOptions() { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "reviews" })
                    </small>
                </div>
                <div class="row" id="reviews">
                    <table class="table table-striped table-condensed">
                        <tr>
                            <th class="col-sm-9"><small>Title</small></th>
                            <th class="col-sm-3"><small class="pull-right">Rate</small></th>
                        </tr>
               
                            @if(Model.ReviewList.Count > 0)
                            {
                                foreach(MVCCapstone.Models.ReviewModel review in Model.ReviewList)
                                {
                                    <tr>
                                        <td>@Html.ActionLink(review.reviewTitle, "id", new { controller = "review", id = review.reviewId}) by @review.author</td>
                                        <td><small class="pull-right">@review.rateUp /  @review.rateTotal</small></td>
                                    </tr>
                                }
                            } else {
                                <tr>
                                    <td colspan="2">There are no reviews available</td>
                                </tr>
                            }
                    </table>
                </div>
            </div>
       </div>
      
  
    
        <div class="col-sm-3">
            <div class="row col-sm-offset-1">
                <img class="thumbnail img-responsive" src="@Url.Content(@Model.ImagePath)" />
            </div>
            <div class="row">
                @if (User.Identity.IsAuthenticated) {
                   
                    @Ajax.ActionLink("Bookmark",
                    "bookmark",
                    new { bookid = Model.BookId },
                    new AjaxOptions
                    {
                        HttpMethod = "POST",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "Bookmark"
                    },
                    new {@class="btn btn-success pull-right" }
                    )
                } 
            </div>
        </div>
    </div>
</div>
