@model MVCCapstone.Models.BookDisplayModel

@{
    ViewBag.Title = Model.Title;   
}
<div class="row">

    <div class="col-md-8" id="Bookmark">
        <span class="message-success">
        </span>
    </div>

    <div class="col-md-4">
        @if (User.IsInRole("admin"))
            {
            <h3>This Bookid is: @Model.BookId</h3>
            <div class="col-md-12">
                @Ajax.ActionLink("Change State",
                    "changestate",
                    new { bookid = Model.BookId },
                    new AjaxOptions
                    { 
                        HttpMethod = "POST",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "State",
                    },
                    new {@class="btn btn-primary" }
                )
               <div id="State">
                   @if (Model.State == "Visible")
                   {
                       <span class="message-success">Current State: @Model.State</span>
                   }
                   else
                   {
                       <span class="message-error">Current State: @Model.State</span>
                   }
               </div>
                    
               
            </div>
            }
    </div>
</div>

<br />
<div class="row">

    <div class="col-md-8">
        <div class="col-md-3">
            <img style="width: 100px; height: 100px;" src="@Model.ImagePath" /> <br />
        </div>

        <div class="col-md-9">
            <b>Title</b>: @Model.Title <br />
            <b>Author</b>: @Model.Author <br />
            <b>Published</b>: @Model.Published <br />
            <b>Publisher</b>: @Model.Publisher <br />
            <b>Language</b>: @Model.Language <br />
            <b>ISBN</b>: @Model.ISBN <br />
            <b>Genre</b>: @Model.Genre <br />
            <b>Synopsis</b>: @Model.Synopsis <br />  
        </div>
    </div>

@if (User.Identity.IsAuthenticated) {
    <div class="col-md-4">
        <div class="col-md-4">
             @Ajax.ActionLink("Bookmark",
                        "bookmark",
                        new { bookid = Model.BookId },
                        new AjaxOptions
                        {
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "Bookmark"
                        },
                        new {@class="btn btn-success" }
                    )
        </div>
    </div>
}     

</div>

<div class="row">
    @Html.RouteLink("Discussion", new {controller = "forum", action="thread", forumid = Model.ForumId})
</div>
