@model MVCCapstone.Models.BookDisplayModel
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<img style="width: 100px; height: 100px;" src="@Model.ImagePath" /> <br />
@Model.Title <br />
@Model.Author <br />
@Model.Published <br />
@Model.Publisher <br />
@Model.ISBN <br />
@Model.Genre <br />
