
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Capstone Project</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
        <link href="~/Content/Site.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/themes/base/css")
        @Scripts.Render("~/bundles/modernizr")
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="/Scripts/bootstrap.min.js"></script>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/Scripts/capstone.js")
        @RenderSection("scripts", required: false)
        <style>
            .text-content{
                line-height: 1.2em;
            }
 
            .short-text {
                overflow: hidden;
                height: 8em;
            }
 
            .full-text{
                height: auto;
            }
        </style>

    </head>

    <body>
        

        <!-- Start of Header -->
        <header>
            <div class="col-lg-offset-2 col-lg-8 col-md-12 col-sm-12 col-xs-12">
               
                    <div class="col-lg-4 col-md-3 col-xs-2">
                        <!-- Capstone Title -->
                     
                        <p id="capstone" class="site-title">@Html.ActionLink("Capstone", "index", "home")</p>          
                    </div>

                    <!-- Search Bar -->
                    <div class="col-lg-4 col-md-4 col-xs-4">
                        <input id="titleSearch" type="search" name ="titleSearch" placeholder="Enter Book Title...."/>
                    
                       
                         @Html.ActionLink("Advance", "Advanced", new { controller = "Search", action = "Advanced" }, new { style = "text-decoration: none", type = "button", @class = "btn btn-default nounderline" })
                      
                    </div>

                    <div class="col-lg-4 col-md-5 col-xs-6">
                        <!-- Partial Login -->
                         <div class="float-right">
                             @Html.Partial("_LoginPartial")
                         </div>
                    </div>
            </div>
        </header>
        <!-- End of Header -->



        <!-- Start of Body -->
        <div id="body">
      
                <section class="content-wrapper main-content clear-fix">
                    @RenderBody()
                </section>
           
        </div>
        <!-- End of Body -->



        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Anhvu Ho - Capstone ASP.NET MVC Application</p>
                </div>
            </div>
       </footer>
        <!-- End of Footer -->




        <script type="text/javascript">
            $(document).ready(function () {

                // auto complete jquery
                $('#titleSearch').autocomplete({
                    source: '@Url.Action("autocomplete","search")',
                    minLength: 1,
                    select: function (event, ui) {  
                        $(location).attr('href', "/Search/Advanced/?title=" + encodeURIComponent(ui.item.value));
                    }
                });
                
                // bind the auto complete select to the search box
                $("#titleSearch").bind("autocompleteselect", function (event, ui) {});

                // hitting the enter key will do a search based on the current input
                $('#titleSearch').bind('keypress', function (e) {
                    if (e.keyCode == 13) {
                        $(location).attr('href', "/Search/Advanced/?title=" + encodeURIComponent($('#titleSearch').val()));
                    }
                });

                // Scroll to the specific id
                if ("@ViewBag.ScrollTo" != "") {
                    $('html, body').animate({
                        scrollTop: $("#@ViewBag.ScrollTo").offset().top
                    }, 700);
                }
            })
        </script>

    </body>
    
</html>
