
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Capstone Project</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/themes/base/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        

        <!-- Start of Header -->
        <header>
            <div class="col-md-offset-2">
               
                    <div class="col-md-3">
                        <!-- Capstone Title -->
                     
                            <p class="site-title">@Html.ActionLink("Capstone Project", "index", "home")</p>          
                    </div>

                    <!-- Search Bar -->
                    <div class="col-md-4">
                        <input id="titleSearch" type="search" name ="titleSearch" placeholder="Enter Book Title...."/>
                    
                       
                         @Html.ActionLink("Advance", "Advanced", new { controller = "Search", action = "Advanced" }, new { style = "text-decoration: none", type = "button", @class = "btn btn-default nounderline" })
                      
                    </div>

                    <div class="col-md-3">
                        <!-- Partial Login -->
                         <div class="float-right">
                             @Html.Partial("_LoginPartial")
                         </div>
                    </div>
            </div>
        </header>
        <!-- End of Header -->



        <!-- Start of Body -->
        <div id="body">

            <!-- Start of Feature - Disabled
            <section class="featured">
                <div class="content-wrapper">
                     
                   
                </div>
            </section>
           End of Feature  -->

            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
     
        </div>
        <!-- End of Body -->



        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Anhvu Ho - Capstone ASP.NET MVC Application</p>
                </div>
            </div>
       </footer>
        <!-- End of Footer -->



        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="/Scripts/bootstrap.min.js"></script>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/Scripts/capstone.js")
        @RenderSection("scripts", required: false)


        <script type="text/javascript">
            $(document).ready(function () {
                $('#titleSearch').autocomplete({
                    source: '@Url.Action("autocomplete","book")',
                    minLength: 2,
                    select: function (event, ui) {  
                        $(location).attr('href', "/Search/Advanced/?title=" + encodeURIComponent(ui.item.value));
                    }
                });
     
                $("#titleSearch").bind("autocompleteselect", function (event, ui) {});

                $('#titleSearch').bind('keypress', function (e) {
                    if (e.keyCode == 13) {
                        $(location).attr('href', "/Search/Advanced/?title=" + encodeURIComponent($('#titleSearch').val()));
                    }
                });
            })
        </script>

    </body>
    
</html>
