@model MVCCapstone.Models.ChangeQuestionModel


<!-- Password Change Form -->

@using (Html.BeginForm("managequestionpost", "account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="form-group">

        @Html.LabelFor(m => m.Question, new { @class = "col-sm-3 control-label" })
        <div class="col-sm-6"> 
            @Html.TextBoxFor(m => m.Question, new { @class = "form-control", Value = @ViewBag.UserQuestion, ReadOnly = "readonly"})
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.Answer, new { @class = "col-sm-3 control-label" })
        <div class="col-sm-4">
            @Html.TextBoxFor(m => m.Answer, new {@class = "form-control" })  
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.NewQuestion, new { @class = "col-sm-3 control-label" })
        <div class="col-sm-4">
              @Html.DropDownList("qList")
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.NewAnswer, new { @class = "col-sm-3 control-label" })
        <div class="col-sm-4">
            @Html.TextBoxFor(m => m.NewAnswer, new {@class = "form-control" })  
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.NewAnswerConfirm, new { @class = "col-sm-3 control-label" })
        <div class="col-sm-4">
            @Html.TextBoxFor(m => m.NewAnswerConfirm, new {@class = "form-control" })  
        </div>
    </div>
   
    <div class="form-group">
        <label class="col-sm-3 control-label"></label>
        <div class="col-sm-8">
                <input class="btn btn-primary" type="submit" value="Update" style="min-width:100px;" />
        </div>
    </div> 
}