
@model MVCCapstone.Models.NewPasswordModel

@{
    ViewBag.Title = "Set Password";
}

<h2>Set Password</h2>

<p>You are about to set a new password for: <b>@ViewBag.Account</b></p>

@using (Html.BeginForm("SetNewPassword", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Set Password Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>

        <input type="submit" value="Set password" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}