@{
    ViewBag.Title = "Index";
    List<MVCCapstone.Models.BookDisplayModel> bookList = ViewBag.BookList as List<MVCCapstone.Models.BookDisplayModel>;
}


<div class="message-success">@TempData["message"]</div>

<table class="table">
<tr>
    <th>Title</th>
    <th>Author</th>
    <th>Language</th>
    <th>Genres</th>
</tr>
@foreach (MVCCapstone.Models.BookDisplayModel book in bookList)
{

 <tr>
     <td>@Html.RouteLink(book.Title, new { controller = "book", action="details", bookid = book.BookId })
     <td>@book.Author</td>
     <td>@book.Language</td>
     <td>@book.Genre</td>
 </tr>   
}

</table>  
