@model MVCCapstone.Models.HomePageModel
@using PagedList
@using PagedList.Mvc
@{
    ViewBag.Title = "Home";
    List<MVCCapstone.Models.BookDisplayModel> bookList = ViewBag.BookList as List<MVCCapstone.Models.BookDisplayModel>;
}


<div class="message-success">@TempData["message"]</div>

 <div class="pagedList pull-right">
    @Html.PagedListPager(Model.BookList, page => Url.Action("Index", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
</div>
<table class="table">
<tr>
    <th>Title</th>
    <th>Author</th>
    <th>Language</th>
    <th>Genres</th>
</tr>
@if (Model.BookList.Count() > 0)
{
    foreach (MVCCapstone.Models.BookDisplayModel book in Model.BookList)
    {

     <tr>
         <td>@Html.RouteLink(book.Title, new { controller = "book", action="details", bookid = book.BookId })
         <td>@book.Author</td>
         <td>@book.Language</td>
         <td>@book.Genre</td>
     </tr>   
    }
}
else
{
    <tr>
        <td colspan="4">There are no books in the database</td>
    </tr> 
}

</table>  

 <div class="pagedList pull-right">
    @Html.PagedListPager(Model.BookList, page => Url.Action("Index", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
</div>
