@model MVCCapstone.Models.ForumModel
@using PagedList
@using PagedList.Mvc 
@{
    ViewBag.Title = Model.forumTitle;
}

<div class="row">
    <h2>@Model.forumTitle</h2>

    @if (Model.series)
    {
        <p><strong>Other books in this series: </strong>
            @foreach (MVCCapstone.Models.SharedWith book in Model.sharedWith)
            {
                @: | @Html.RouteLink(book.title, new { controller = "book", action="details", bookid = book.bookid }) 
            }
        </p>
    }
</div>

<div class="row">
    <table class="table table-bordered">
        <tr>
            <th class="col-sm-1"></th>
            <th>Title / Thread Starter</th>
            <th class="col-sm-2">Replies / Views</th>
            <th class="col-sm-2">Latest Post</th>
        </tr>
        @if (Model.threadList.Count() == 0)
        {
            <tr>
                <td colspan="4">There are no threads for this book / series</td>
            </tr>
        } else {
            foreach (MVCCapstone.Models.ThreadModel thread in Model.threadList)
            {
                <tr>
                    <td>
                        @thread.State
                    </td> 
                    <td>
                        @Html.ActionLink(@thread.Title,"viewthread", new {fview = true, threadid = @thread.ThreadId, page = 1}) <br /> 
                        Created By: @thread.ThreadCreator
                    </td>
                    <td>
                        Total Posts: @thread.TotalPost <br /> 
                        Total Views: @thread.TotalView
                    </td>
                    <td>
                        Last Reply: @thread.LatestPoster <br />
                        <time title="@thread.LatestPost">@thread.DateString</time>
                    </td>

                </tr>
            }   
        }

    </table>
</div>

<div class="row">
    <div class="pull-left">
        @Html.ActionLink("Create Thread","createthread", new {forumid = Model.ForumId}, new {@class = "btn btn-primary"})
    </div>
    <span class="pull-right">
        @Html.PagedListPager(Model.threadList, page => Url.Action("thread", new {forumid = Model.ForumId, page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
    </span>
</div>
