@model MVCCapstone.Models.ReviewListModel
@using PagedList;
@using PagedList.Mvc 
@{
    ViewBag.Title = "Review";
}


<div class="row">

    <h2><strong>@Html.ActionLink(@Model.bookTitle.ToUpper(),null, new {controller="book", action="details", bookid= Model.bookId}) </strong>Reviews</h2>
</div>
<div class="row">

     @Html.ActionLink("Most Rated", "Book", new {id = Model.bookId, sortby = "popular"}) |
     @Html.ActionLink("Recommended", "Book", new {id = Model.bookId, sortby = "recommended"}) |
     @Html.ActionLink("Not Recommended", "Book", new {id = Model.bookId, sortby = "notrecommended"}) |
     @Html.ActionLink("Newest", "Book", new {id = Model.bookId, sortby = "new"})
        

</div>
<div class="row">
    @Html.ActionLink("Create Review", "create", new {id = Model.bookId }, new { @class = "btn btn-primary" })

    <span class="pull-right">
        @Html.PagedListPager(Model.reviewList, page => Url.Action("book", new {id = Model.bookId, page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
    </span>
</div>
<div id="reviewResult" class="row">
    <table class="table table-bordered">
    <tr>
        <th class="col-sm-7">Title / Author</th>
         <th class="col-sm-2">Recommendation</th>
        <th class="col-sm-3">Last Modified</th>
       
    </tr>
    @if (Model.reviewList.Count > 0)
    {
        foreach (MVCCapstone.Models.ReviewModel review in Model.reviewList)
        {
            <tr>
                <td>
                    <strong>@Html.ActionLink(review.reviewTitle, "id", new { id = review.reviewId })</strong> <br />

                    by @review.author  <br />

                    @if (review.rateTotal > 0) 
                    {
                         <span><strong>@review.rateUp / @review.rateTotal</strong> found this review helpful</span>
                    } else {
                        <span>Not yet rated</span>   
                    }
                </td>
      
 
                <td>
                    @if (review.recommend == "yes")
                    {
                        <p class="text-center message-success">Yes</p>
                    }
                    else
                    {
                       <p class="text-center message-error">No</p>
                    }
                </td>
                <td>
                    @review.reviewLastModified.ToLongDateString()
                </td>
            </tr>
        
        }
    } else {
        <tr>
            <td colspan="3">No reviews were found</td>
        </tr>   
    }
    </table>
</div>
<div class="row">
    <span class="pull-right">
        @Html.PagedListPager(Model.reviewList, page => Url.Action("book", new {id = Model.bookId, page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
    </span>
</div>


